<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="51c0c0ef-0d9b-4a1a-abd7-9a04a91f03c3"
    Publisher="CN=psimp"
    Version="1.0.3.0" />

  <mp:PhoneIdentity PhoneProductId="51c0c0ef-0d9b-4a1a-abd7-9a04a91f03c3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>StereoKitUWPProject</DisplayName>
    <PublisherDisplayName>StereoKit</PublisherDisplayName>
    <Logo>Assets\Logo\Logo-50.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="StereoKitUWPProject.App">
      <uap:VisualElements
        DisplayName="StereoKitUWPProject"
        Square150x150Logo="Assets\Logo\Logo-150.png"
        Square44x44Logo="Assets\Logo\Logo-44.png"
        Description="StereoKitUWPProject"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo\Logo-Wide150.png" Square71x71Logo="Assets\Logo\Logo-71.png" Square310x310Logo="Assets\Logo\Logo-310.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Logo\Logo-Wide300.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>
